body {
	background-image: url(./bg.jpg);
}

h1,
p,
#container {
  text-align: center;
  font-weight: bold;  
}

li {
  list-style: none;
  border-bottom: 1px solid #CCC;
  height: auto;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

li button {
  margin-left: auto;
}

li:hover {
  background-color: #C8C8F8;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F2F2;
}

.lines {
  line-height: 20px;
  margin: 0 auto;
  width: auto;
}

.high {
  background-color: #ff3333;
}

.medium {
  background-color: #ffb84d;
}

.low {
  background-color: #47d147;
}

#todos-container {
  padding: 0;
  margin: 0;
}
